<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
<script> $(document).ready(function() {
});</script>

<!-- Nav Bar Start -->
<div class="nav-bar"> <ul>
    Amanda Crawford
    <!-- Contact link -->
  
    <li> <a href="#contact"> Contact  </a> </li>
   <!-- Portfolio link --> 
    <li> <a href="#portfolio"> Portfolio </a> </li>
  
    <!-- Intro link -->
    <li> <a href="#intro">  Intro </a> </li>
  </ul>
  </div>
</div>

<!-- Intro Start -->
<div class="intro"><h1> <a name="intro"> </a> <strong> Amanda Crawford </strong></h1></div>

<!--Portfolio Start -->
<div class="container-fluid">
  <div class="portfolio">   
    <h2> <a name="portfolio"> </a> <strong> Portfolio: </strong></h2>
    <div class="row"></div>
    <!-- Portfolio Image 1 Tribute Page -->
    <div class="col-md-2">
      <a href="http://codepen.io/agerista/pen/ALAvyX" target="_blank"> <img class="img-responsive img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Marcel_Marceau_-_1974.jpg"><p> Marcel Marceau Tribute </p></div>
      
      <!-- Portfolio Image 2 GitHub Page -->
      <div class="col-md-2">
        <a href="https://github.com/agerista" target="_blank"><img class="img-responsive img-thumbnail" src="http://orig04.deviantart.net/ce7d/f/2010/280/f/3/octocat_by_tenach-d30apmc.png" width="200" height="40" ><p> Github Page </p>
        </div>
        <!-- Portfolio Image 3 Free Code Camp-->
        <div class="col-md-2"> <a href="https://www.freecodecamp.com/agerista" target="_blank" ><img class="img-responsive img-thumbnail" src="https://s12.postimg.org/zbdu9698t/FCC_Logo.jpg" width="200" height="200" ><p> Example 3 </p></div>
        <!-- Portfolio Image 4 -->
   <div class="col-md-2"><a href="" target="_blank" ><img class="img-responsive img-thumbnail" src="http://dummyimage.com/200/96897f/deeaee.jpg&text=Coming+Soon">
      <p> Example 4</p></div>
     <!-- Portfolio Image 5 -->
       <div class="col-md-2"><a href="" target="_blank"><img class="img-responsive img-thumbnail" src="http://dummyimage.com/200/96897f/deeaee.jpg&text=Coming+Soon"><p> Example 5</p></div>
         <!-- Portfolio Image 6 -->
       <div class="col-md-2"><a href="" target="_blank" ><img class="img-responsive img-thumbnail" src="http://dummyimage.com/200/96897f/deeaee.jpg&text=Coming+Soon"><p> Example 6</p></div>      
  </div>
</div>
    </div>
          <!-- Contact Info -->
        <div class="container-fluid"><div class="contact">
         <a name="contact"> </a>  
            <!-- Free Code Camp Button -->
     <a href="http://www.freecodecamp.com/agerista" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-fire"> FreeCodeCamp</i> </a>
                     
             <!-- GitHub Button -->
         <a href="http://www.github.com/agerista" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github"> GitHub </i> </a>  
          <!-- LinkedIn Button -->
           <a href="https://www.linkedin.com/in/amanda-crawford-48608a16" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin"> LinkedIn</i> </a>  
          <p> Amanda Crawford is a front-end engineer. </p><p>She is based in the Bay Area of California.</p><p> Contact me:  <a href="mailto:amandacrawfordcodes@gmail.com?subject=subject&cc=cc@example.com" target="_blank" class="btn btn-default btn-xs"> e-mail </a> </p> 
          </div></div>
 <div class="row-footer"> <p2> Designed and coded by Amanda Crawford 2016 </p2></div><!--8/30/16-->         


